@import "tailwindcss";

@layer base {
  button {
    @apply flex cursor-pointer items-center justify-center transition-all duration-100 ease-in-out active:scale-95;
  }

  input {
    @apply w-full resize-none rounded-full border-yellow-500 bg-stone-200 px-2 py-1 outline-none focus:border-2;
  }
  textarea {
    @apply w-full resize-none rounded-xl border-none bg-stone-200 p-2 outline-none;
  }

  @media (prefers-color-scheme: light) {
    * {
      scrollbar-color: theme("colors.stone.300") theme("colors.stone.200");
    }

    *::-webkit-scrollbar-track {
      background: theme("colors.stone.200");
    }
    *::-webkit-scrollbar-thumb {
      background-color: theme("colors.stone.300");
    }
  }
}
